<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="node_modules/datatables.net-dt/css/jquery.dataTables.css" />
    <script type="text/javascript" src="node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        var table = $('#wordtable').DataTable({
          "columnDefs": [
            {
              "targets": [0],
              "visible": false,
              "searchable": false
            }
          ]
        });
        var importtable = $('#importtable').DataTable();
        var gre = [];
        $('#wordtable tbody').on('click', 'tr', function() {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
          }
        });
        $('#importtable tbody').on('click', 'tr', function() {
          $(this).toggleClass('selected');
        });
        $("#edit").on('click', function(ex) {
          ex.preventDefault();
          if (!table.rows('.selected').any()) {
              $("#selectrowmodal").modal("show");
          }
          else {
            $("#editwordmodal").modal("show");
          }
        });

        $("#editwordmodal").on('show.bs.modal', function(event){
          var data = table.rows('.selected').data();
          $(this).find('#id').val(data[0][0]);
          $(this).find('#word').val(data[0][1]);
          $(this).find('#pos').val(data[0][2]);
          $(this).find('#meaning').val(data[0][3]);
        });

        $("#delete").on('click', function(ex) {
          ex.preventDefault();
          if (!table.rows('.selected').any()) {
              $("#selectrowmodal2").modal("show");
          }
          else {
            $("#deletewordmodal").modal("show");
          }
        });

        $("#deletewordmodal").on('show.bs.modal', function() {
          var data = table.rows('.selected').data();
          $(this).find('#id').val(data[0][0]);
        });

        $("#gre").on('click', function(){
          $.ajax({
            url: "/greword",
            type: "get"
          }).done(function(data) {
            if (gre.length == 0) {
              gre = data.split(/\r?\n/);
              for (var i = 0; i < gre.length; i++) {
                gre[i] = gre[i].split(/\r?\t/);
                importtable.row.add([
                  gre[i][0],
                  gre[i][1],
                  gre[i][2]
                ]).draw(true);
              }
            }
            $("#importtablemodal").modal("show");
          });
        });

        $('#add').on('click', function() {
          console.log(importtable.rows('.selected').data());
        });
      });
    </script>
</head>

<body>
  <% include partials/nav %>
    <div class="container">
      <div class="row text-center top-buffer-20">
        <div class="col-3">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addwordmodal">Add</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#importwordmodal">Import</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary btn-lg" id="edit">Edit</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-danger btn-lg" id="delete">Delete</button>
        </div>
      </div>
      <div class="row top-buffer-20">
        <div class="col-12">
          <table id="wordtable" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Word</th>
                <th>Part of Speech</th>
                <th>Meaning</th>
                <th>Progress</th>
                <th>Date added</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < wordlist.length; i++) { %>
                <tr>
                  <td>
                    <%= wordlist[i].id %>
                  </td>
                  <td>
                    <%= wordlist[i].word %>
                  </td>
                  <td>
                    <%= wordlist[i].pos %>
                  </td>
                  <td>
                    <%= wordlist[i].meaning %>
                  </td>
                  <td>
                    <!-- <%= wordlist[i].progress %> -->
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: <%- wordlist[i].progress %>0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10"></div>
                    </div>
                  </td>
                  <td>
                    <%= wordlist[i].dateadded.toLocaleDateString("en-US") %>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>

        </div>

      </div>
      <% include modals/word-list %>
    </div>
</body>

</html>

<script type="text/javascript">
  $('#example')
    .removeClass('display')
    .addClass('table table-striped table-bordered');
</script>
